@import "colors";
@import "typography";

@mixin orange-heading {
  font-family: $heading;
  color: $secondary-font-color;
}

@mixin div-section {
  display: inline-block;
  text-align: center;
}

@mixin article-text {
  color: $primary-font-color;
  font-size: 25px;
}
